.main-container {
    min-height: 75vh;
}

footer {
    padding: 1rem;
    background-color: #1a1a1a;
    text-align: center;
}

.Cards a,
.CartList a {
    text-decoration: none;
}

.prodImg {
    width: inherit;
}

.spinner {
    height: 80px;
    width: 80px;
    display: block;
    margin: auto;
}

.cursor{
    cursor: pointer;
}